version: '3.8'

services:
  app:
    build: .
    container_name: habit_tracker
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development
    depends_on:
      - db
  
  db:
    image: postgres:13
    container_name: habit_tracker_db
    environment:
      - POSTGRES_DB=habit_tracker
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db_data: